.intro-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-alignment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-alignment {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 70%;
  padding: 0 2%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Righteous', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Quicksand' sans-serif;
  color: #E67A07;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.3rem;
}
p {
  font-size: 1.8rem;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 450px;
  }
}
body .container {
  background-color: #DAF7A6;
}
body .container .head {
  background-color: #DAF7A6;
  display: flex;
  padding: 2% 0;
}
body .container .head .top-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  body .container .head .top-content {
    flex-direction: column;
  }
}
body .container .head .top-content .intro {
  display: flex;
  width: 15%;
}
@media (max-width: 500px) {
  body .container .head .top-content .intro {
    justify-content: center;
    width: 100%;
  }
}
body .container .head .top-content .intro .name-logo {
  width: 200px;
}
@media (max-width: 500px) {
  body .container .head .top-content .intro .name-logo {
    width: 250px;
  }
}
@media (max-width: 800px) {
  body .container .head .top-content .intro .name-logo {
    width: 150px;
    padding-right: 1%;
  }
}
body .container .head .top-content .intro-content {
  text-align: center;
}
body .container .head .top-content .intro-content .title-text {
  margin: 0 auto;
  padding-top: 2% 0;
  width: 70%;
}
@media (max-width: 800px) {
  body .container .head .top-content .intro-content h1 {
    font-size: 3rem;
  }
}
body .container .head .top-content .intro-content a {
  text-decoration: none;
  color: #E67A07;
}
body .container .head .top-content .intro-content .contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  font-size: 2.4rem;
  border: 3px solid #FF5733;
  border-radius: 18%;
}
@media (max-width: 500px) {
  body .container .head .top-content .intro-content .contact-us {
    width: 30%;
    margin: 0 auto;
  }
}
body .container .head .top-content .title-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 4.8rem;
  text-decoration: none;
}
body .container .about-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #d2b48c;
  width: 100%;
  margin: 0;
  padding-bottom: 4%;
}
body .container .about-us h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2%;
}
body .container .about-us p {
  padding: 2%;
  text-align: center;
  width: 70%;
}
body .container .mid-content {
  background-color: #DAF7A6;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 5% 0;
}
body .container .mid-content h2 {
  padding-bottom: 2%;
}
@media (max-width: 500px) {
  body .container .mid-content {
    align-items: center;
    flex-direction: column;
  }
}
body .container .mid-content .midContent-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}
@media (max-width: 500px) {
  body .container .mid-content .midContent-layout {
    flex-direction: column;
    width: 80%;
  }
}
body .container .mid-content .midContent-layout .middle-content {
  background-color: #d2b48c;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 1%;
  padding: 1% 3% 10%;
  border: solid tan;
}
@media (max-width: 500px) {
  body .container .mid-content .midContent-layout .middle-content {
    margin: 0 2%;
  }
}
body .container .mid-content .midContent-layout .middle-content h3 {
  margin: 5% 0;
}
@media (max-width: 500px) {
  body .container .mid-content .midContent-layout .middle-content p {
    margin-bottom: 10%;
  }
}
body .container .bottom-content {
  background-color: #d2b48c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding-bottom: 7%;
}
body .container .bottom-content a {
  text-decoration: none;
  width: 500px;
}
body .container .bottom-content h2 {
  padding: 2%;
}
body .container .bottom-content p {
  width: 70%;
}
body .container footer {
  background-color: gray;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
body .container footer nav {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 70%;
  padding: 0 2%;
  font-size: 1.5rem;
}
body .container footer nav a {
  text-decoration: none;
  color: #d2b48c;
}
body {
  background-color: #d2b48c;
}
body .navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}
body .navigation .name-logo {
  width: 200px;
}
@media (max-width: 500px) {
  body .navigation .name-logo {
    width: 150px;
  }
}
body .navigation h1 {
  width: 40%;
  text-align: center;
}
@media (max-width: 500px) {
  body .navigation .title-text {
    font-size: 2.3rem;
  }
}
body .navigation a {
  text-decoration: none;
  color: #d2b48c;
  padding: 2%;
}
body .navigation .about {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  font-size: 1.8rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  body .navigation .about {
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: 100px;
  }
}
body .navigation .about a {
  padding: 5px;
}
body .main-content {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
}
body .main-content img {
  margin: 3%;
  width: 250px;
}
body .main-content p {
  margin-bottom: 5%;
}
body .main-content .topmember {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 500px) {
  body .main-content .topmember {
    padding-bottom: 5%;
  }
}
body .main-content .topmember .members-pl {
  width: 50%;
  justify-content: center;
}
@media (max-width: 500px) {
  body .main-content .topmember .members-pl h1 {
    color: #FF5733;
  }
}
body .main-content .topmember .members-pl p {
  margin-top: 2%;
}
body .main-content .secondmembers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: 700px;
}
@media (max-width: 500px) {
  body .main-content .secondmembers {
    padding: 5% 0;
  }
}
body .main-content .secondmembers h1 {
  width: 100%;
}
@media (max-width: 500px) {
  body .main-content .secondmembers h1 {
    color: #FF5733;
  }
}
body .main-content .members-wrII {
  width: 47%;
  height: 500px;
  justify-content: center;
}
@media (max-width: 500px) {
  body .main-content .members-wrII h1 {
    padding-top: 5%;
  }
}
body .main-content .members-wrII p {
  margin-top: 2%;
}
@media (max-width: 500px) {
  body .main-content .members-wrII p {
    margin-top: 5%;
    height: 280px;
  }
}
body .thirdmembers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  height: 700px;
}
@media (max-width: 500px) {
  body .thirdmembers {
    flex-direction: column;
    height: 1380px;
    justify-content: start;
  }
}
body .thirdmembers h1 {
  width: 100%;
}
@media (max-width: 500px) {
  body .thirdmembers h1 {
    color: #FF5733;
    margin-top: 5%;
  }
}
body .thirdmembers .members-wrI {
  width: 47%;
  height: 500px;
  justify-content: center;
}
@media (max-width: 500px) {
  body .thirdmembers .members-wrI {
    height: 650px;
  }
}
body .thirdmembers .members-wrI p {
  margin-top: 2%;
  width: 95%;
}
body .bottommembers {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 700px;
}
@media (max-width: 500px) {
  body .bottommembers {
    align-items: start;
  }
}
body .bottommembers h1 {
  width: 100%;
}
body .bottommembers .members-web {
  width: 47%;
  height: 500px;
  justify-content: center;
}
body .bottommembers .members-web p {
  margin-top: 2%;
  width: 95%;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  font-size: 1.6rem;
  padding: 15px;
  text-decoration: none;
  color: #E67A07;
}
@media (max-width: 500px) {
  footer a {
    font-size: 1.2rem;
  }
}
