.intro-alignment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-alignment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-alignment {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 70%;
    padding: 0 2%;
}