//Variables

// Color pointers
@header-font-color: @gold;
@main-font-color: @darkcyan;
@main-border-color: @lightgrayishblue;
@border-color: @darkcyan;
@background-color: @lighttan;
@font-color: @verydarkblue;



// Color Vars
@lightgrayishblue: #deeef4;
@darkcyan: #508991;
@gold: #f9b514;
@verydarkblue: #172a3a;
@lighttan: #d2b48c;