//Variables

// Color pointers
@header-font-color: @cyan;
@main-font-color: @darkcyan;
@main-border-color: @lightgrayishblue;
@border-color: @darkcyan;
@background-color: @verydarkcyan;
@font-color: @verydarkblue;



// Color Vars
@lightgrayishblue: #deeef4;
@darkcyan: #508991;
@cyan: #07b5b5;
@verydarkblue: #172a3a;
@verydarkcyan: #004346;